@font-face {
    font-family: 'bar' ;
    src: url(pacote-projeto-d010/fontes/idroid.otf);

}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #2DE600;
    --cor2: #179726;
    --cor3:  #0CF269;
    --cor4: #90FC0D;
    --cor5: #DBF20C;
    --font-padrao: "arial";
    --font-bonita: 'bar';
}
body{
     background-color: var(--cor1);

}
header{
    background: rgb(34,195,41);
background: linear-gradient(0deg, rgba(34,195,41,1) 0%, rgba(0,0,0,1) 100%);
    font-family:var(--font-bonita);
    color: white;
 text-align: center;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}
header h1{
    padding: 10px 10px 10px 10px;
}
header p {
    padding: 10px 10px 10px 10px;
}
header nav{
       background-color: var(--cor2);
       color: white;
       text-decoration: none;
       padding: 5px 5px 5px 5px;
}
header nav a {
    padding: 5px 5px ;
    margin: 5px 5px 5px 5px;
    color: white;
    text-align: left;
}
header nav a:hover {
  background-color: var(--cor3);
  border-radius: 5px;
  text-decoration: none;
  transition-duration: 0.3s;
}
main{
    background-color: white;
    margin:auto;
    max-width: 800px;
    width: 100%;
    text-align: justify;
    margin-bottom: 30px; 

}
main p {
    font-family: var(--font-padrao);
    text-align: justify;
    padding: 10px 10px 10px 10px;
    line-height: 2em;
}
picture{
    width: 100%;
    width: 720px;
}

h2{
    font-family: var(--font-bonita);
    color: var(--cor2);
    padding-left: 10px;
}
aside{
    background-color: var(--cor3);
    margin: auto;
    text-align: left;
    width: 100%;
    max-width: 600px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
aside p {
    margin: 2px;
    padding: 0px 0px 0px 0px;
}
nav > ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';
}
img{
    margin-left: auto;
    width: 100%;
}
img#a{
    margin: auto;
    width: 100%;
    width: 400px;
}
aside > h3{
    background: rgb(18, 92, 18);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;


}
div.video > iframe{
   position: absolute;
   top: 5% ;
   left:5% ;
   width:90% ;
   height:90% ;

}
div.video{
   background-color: #179726;
   margin-bottom: 30px;
   margin: 0px 0px 30px 0px;
   padding: 15px;
   padding-bottom: 50%;
   position: relative;
}
footer{
    text-align: center;
    background-color: var(--cor2);
    font-family: 'bar','Courier New', Courier, monospace;
}